<app-header></app-header>

  <a href="http://localhost:4200/cliente" class="col"><i class="bi bi-arrow-left-short" style="font-size: 3em;"> </i></a>

  <div class="container">
    <h3 class="text-center"><b>Editar Cliente</b></h3>

      <form [formGroup]="formularioCliente" (ngSubmit)="put()" ngNativeValidate>
        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text" required formControlName="nombre" id="" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Apellido Paterno:</label>
            <input type="text" required name="" formControlName="apellidoP" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Apellido Materno:</label>
            <input type="text" required name="" formControlName="apellidoM" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Telefono:</label>
            <input type="text" required name="" formControlName="telefono" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Sexo:</label>
            <input type="text" required name="" formControlName="sexo" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Edad:</label>
            <input type="text" required name="" formControlName="edad" id="" class="form-control">
          </div>
          <br>
        <button  class="btn btn-primary" class="centrado ">Guardar Cambio</button>
      </form>
  </div>
      <br>

      <app-footer></app-footer>