<app-header></app-header>

<a href="http://localhost:4200/cliente" class="col"><i class="bi bi-arrow-left-short" style="font-size: 3em;"> </i></a>

<h3 class="text-center" > Nuevo Mascota</h3>

  <div class="container">
      <form [formGroup]="FormMascota" (submit)="agregar()">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" name="" formControlName="nombreM" id="" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Especie</label>
            <input type="text" name="" formControlName="tipoM" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Sexo</label>
            <input type="text" name="" formControlName="sexo" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Color</label>
            <input type="text" name="" formControlName="color" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Fecha de Nacimiento</label>
            <input type="text" name="" formControlName="fechaN" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Id Cliente</label>
            <input type="text" name="" formControlName="Cliente_idCliente" id="" class="form-control">
          </div>

          <br>
        
        <button class="centrado" >Agregar</button>
      </form>
  </div>
  
      <br>

      <app-footer></app-footer>